*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/

.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
localrc2
localrc

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/

dist
releasenotes/build

# Sphinx documentation
doc/
docs/build
docs/resources/index.md
docs/data-sources/index.md
.tox/
terraform_provider_opentelekomcloud.egg-info/
