#!/usr/bin/env bash

export OS_AUTH_URL=https://iam.eu-de.otc.t-systems.com/v3
export OS_TENANT_NAME=<YOUR_TENANT_NAME>
export OS_USERNAME=<YOUR_USERNAME>
export OS_PASSWORD=<YOUR_PASSWORD>
export OS_REGION_NAME=<YOUR_REGION_NAME>
